<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <ExcludeByAttribute>CompilerGeneratedAttribute,GeneratedCodeAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <Exclude>[Lab.Application]Lab.Application.Dtos.*,[Lab.Application]Lab.Application.Models.*,[Lab.Application]Lab.Application.Exceptions.*,[Lab.Application]Lab.Application.Mappings.*,[Lab.Application]Lab.Application.DependencyInjection,[Lab.Application]*Handler</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
