#cloud-config

package_update: true

packages:
  - git
  - ufw
  - ca-certificates
  - curl

runcmd:
  # Add Docker official GPG key
  - install -m 0755 -d /etc/apt/keyrings
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
  - chmod a+r /etc/apt/keyrings/docker.asc

  # Add Docker repository
  - |
    tee /etc/apt/sources.list.d/docker.sources <<EOF
    Types: deb
    URIs: https://download.docker.com/linux/ubuntu
    Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
    Components: stable
    Signed-By: /etc/apt/keyrings/docker.asc
    EOF

  - apt update
  - apt install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
  - systemctl enable docker
  - systemctl start docker

  # Firewall
  - ufw allow OpenSSH
  - ufw allow 80
  - ufw allow 443
  - ufw --force enable

  # Clone project
  - mkdir -p /root/hyperdatalab
  - git clone https://github.com/scilab-org/scilab-microservices.git /root/hyperdatalab/scilab-microservices