apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    uid: prometheus
    version: 1
    
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: true
    uid: loki
    version: 1
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceName: Prometheus
          matcherRegex: "(?:trace_id|trace)=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: false
    jsonData:
      httpMethod: GET
      serviceMap:
        datasourceUid: prometheus
      tracesToMetrics:
        datasourceUid: prometheus
        tags: ["service.name", "http.method", "http.status_code"]
      tracesToLogs:
        datasourceUid: loki
        mappedTags: [{ key: "service.name", value: "service" }]
        mapTagNamesEnabled: true
        filterByTraceID: true
        spanStartTimeShift: "-5m"
        spanEndTimeShift: "5m"